# Ignore directories
Personal/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore data files
*.gz

# Ignore model artifacts
*.pkl

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .gitignore
.gitignore