# Ignore directories
Personal/

# Ignore Python cache files
__pycache__/
*.pyc
*.aux
*.log
*.ipynb_checkpoints/
# Ignore data files
*.gz
*.out
# Ignore model artifacts
*.pkl

# Ignore system files
.DS_Store
Thumbs.db

# Ignore .gitignore
.gitignore